body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: lightblue;
}

/** HEADER **/
#header-nav{
    background-color: darkblue;
}

#brand{
    font-size: 20px;
    color: #135042;
}

button.navbar-toggler{
    border: 1px solid #135042;
}

#nav-list .nav-item .nav-link{
    color: #135042;
}

#nav-list .h-line{
    width: 75%;
    margin: auto;
}


#home {
	margin: 25px 0 25px 0;
}

.row .menu-item {
	margin-bottom: 15px;
	padding: 15px;
}

.menu-item .top-link{
    text-decoration: none;
    color: #135042;
}

.menu-item .top-link:hover{
    color: #269279;
}


@media (max-width: 576px) {

}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}

@media (min-width: 1400px) {

}
